@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

p,
blockquote {
  font-size: 0.9em;
  line-height: 1.6em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  padding: 0.8em;
}

.logo {
  width: 130px;
}

.hide-mobile {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
}

.menu {
  width: 25px;
  margin-top: 45%;
}

.server {
  width: 70%;
  margin: 2em auto 2em 25%;
}

h1,
.subhead {
  position: relative;
  z-index: 3;
}

.subhead {
  font-size: 1.1em;
}

.blue-container {
  width: 100%;
  background-color: #00c2ff;
  color: #fff;
  margin: 15%;
  padding: 4em 0 2em;
  border-top-left-radius: 40px;
  transform: skewY(-2deg);
}

.blue-container:before {
  content: "";
  width: 40px;
  height: 40px;
  background-color: #00c2ff;
  position: absolute;
  top: -39px;
  right: 0;
  z-index: -2;
}

.blue-container:after {
  content: "";
  width: 80px;
  height: 80px;
  position: absolute;
  background-color: white;
  top: -80px;
  right: 0;
  border-radius: 50%;
}

.blue-container ul {
  transform: skewY(2deg);
}

.blue-container ul li {
  margin-bottom: 3em;
}

.blue-container ul li p {
  margin-bottom: 0.5em;
}

.blue-container img {
  width: 14%;
}

.blue-container ul li:nth-child(3) img {
  width: 8%;
}

.gray-container {
  background-color: #f6f6f6;
  padding: 4em 0 2em;
  margin-top: -3%;
}

.gray-container ul li:first-child {
  margin-bottom: 2em;
}

figure {
  margin: 0;
  padding: 0;
}

figcaption {
  font-weight: bold;
  color: #00c2ff;
}

h2 {
  margin-top: 7%;
}

.cta {
  background-color: #00cc80;
  width: calc(100% - 1em);
  color: white;
  display: block;
  border-radius: 20px;
  padding: 0.5em;
  text-decoration: none;
  font-size: 1.5em;
  margin: 3% auto 7%;
  position: relative;
  z-index: 4;
}

.footer-container {
  width: 100%;
  background: #3d444a;
  color: white;
  padding: 3em 0;
  border-top-right-radius: 40px;
  transform: skewY(2deg);
}

.footer-container .container {
  transform: skewY(-2deg);
}

.footer-container:before {
  content: "";
  width: 40px;
  height: 40px;
  background-color: #3d444a;
  top: -39px;
  position: absolute;
  left: 0;
  z-index: -2;
}

.footer-container:after {
  content: "";
  width: 80px;
  height: 80px;
  background-color: white;
  position: absolute;
  z-index: -1;
  left: 0;
  top: -80px;
  border-radius: 50px;
}

ul.footer-links {
  margin: 0 auto;
}

ul.footer-links li {
  display: inline-block;
}
ul.footer-links li a {
  color: #9d9d9d;
  font-size: 0.8em;
}
